body {
    font-family: monospace, sans-serif;
    margin: 0px;
    background-color: #371840;

}
div {
    border-bottom: #F2EB80 solid;
    box-shadow: 5px 20px 40px #211426;
}
.main-session{
    background-image: url("/images/cidade-nova.jpg");
    background-color: black;
    background-size: cover;
    padding: 600px 30px 40px;
}

.content-main h1 {
    color: #F2EB80;
    font-weight: 900;;
}

.content-main {
    border-bottom: hidden;
    box-shadow: none;
    text-align: center;
    position: relative;
    top: -320px;
}

.button {
    font-family: monospace, sans-serif;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
   }
   
.button:hover {
       font-family: monospace, sans-serif;
       padding: 15px 30px;
       border-radius: 10px;
       background-color: #241021;
       text-decoration: none;
       color: white;
      }


.section-sobre, .section-hobbies, .my-projects{
    padding: 40px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

.section-sobre p {
    margin: 40px 10px;
    font-size: 20px;
    font-weight: lighter;
}

h2 {
    color: #F2EB80;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-weight: 600;
}

.no-border {
    border-bottom: hidden;
    box-shadow: none;
}

.socialmedias {
    margin: 50px
}

.hobbies-left {
    border-bottom: hidden;
    box-shadow: none;
    display: inline-block;
}
.roundedimage {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid #F2EB80;
    box-shadow: 5px 8px 9px #0D060C;

}

.skills-list {
    display: inline-block;
    background-color: #5E2F73;
    border-radius: 15px;
    margin: 50px 30px;
    margin-left: 80px;
    min-width: 250px;
    box-shadow: 5px 5px 6px #000000;
    vertical-align: middle;
    padding: 30px;
}

.skills-list img {
    width: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.projects-items {
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
    min-height: 500px;
    max-height: 500px;
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 50px;
}

h4 {
    padding: 15px;
}

p.project-p {
    padding: 10px;
    margin-bottom: 50px;
}

a.project-breve {
    position: relative;
    top: 95px;
}

.breve-img {
    filter: blur(3px);
}

.project-img {
    width: 250px;
    transition: 0.6s;
}

.project-img:hover {
    box-shadow: 5px 5px 5px black;
    transform: scale(1.6);
}