body {
    font-family: monospace, sans-serif;
    margin: 0px;
}

.main-session{
    background-image: url("/images/cidade-nova.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 202.9vh;
    height: 100vh;
    z-index: 2;
    position: absolute;
    border-bottom: #F2EB80 solid;

}

.main-session h1 {
    color: #F2EB80;
    position: absolute;
    font-weight: 900;
    z-index: 5;
    top: 200px;
    left: 80vh;
}

.button {
    font-family: monospace, sans-serif;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    position: absolute;
    z-index: 3;
   }
   
.button:hover {
       font-family: monospace, sans-serif;
       padding: 15px 30px;
       border-radius: 10px;
       background-color: #0D060C;
       text-decoration: none;
       color: white;
       position: absolute;
       z-index: 3;
      }

.button-sobre {
    top: 300px;
    left: 435px;
}

.button-hobbies {
    top: 300px;
    left: 600px;
}

.button-projetos {
    top: 300px;
    left: 745px;
}

.section-sobre {
    margin-top: 640px;
    background-color: #371840;
    padding: 15px;
    text-align: center;
    color: white;
}

.section-sobre h2 {
    color: #F2EB80;
    text-align: center;
    font-weight: 300;
}
.imagemarcos {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: solid #F2EB80;
    box-shadow: 5px 8px 9px #0D060C;
}